:root {
  --bg-color-raise: #f03c3c;
  --bg-color-call: #5ab966;
  --bg-color-fold: #3d7cb8;
  --bg-color-allin: indigo;
}

.raise {
  background-color: var(--bg-color-raise);
}
.allin {
  background-color: var(--bg-color-allin);
}
.call {
  background-color: var(--bg-color-call);
}
.allinFont {
  color: var(--bg-color-allin);
}
.raiseFont {
  color: var(--bg-color-raise);
}
.callFont {
  color: var(--bg-color-call);
}
.title {
  font-size: 2rem;
}
.big-title {
  font-size: 2.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.numberOfBigs-btn {
  max-width: fit-content;
  min-width: 4rem;
}
.btn {
  max-width: fit-content;
}
.col {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.handgrid {
  background-color: #3d7cb8;
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  /* margin-bottom: 1rem; */
}

.hovermode-switch {
  margin: 1rem auto;
}

.gto-solver-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: darkslategrey;
  color: antiquewhite;
}

.gto-solver-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.stackchoice-container {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.jcse {
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.ctr {
  align-items: flex-start;
}

.handsquare {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  min-height: 32px;
}
.handsquare:hover {
  border: 1px solid white;
}
.selected {
  background-color: red;
}
.range-builder-container {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: darkslategray;
  color: antiquewhite;
}
.range-builder-results-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
}
.range-builder-results-controls {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar.navbar-dark {
  width: 100vw !important;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid antiquewhite;
  max-height: 75px;
  background-color: darkslategray;
}

.navbar-logo {
  max-height: 75px;
  position: absolute;
  left: 2rem;
  top: 0;
}

.number-of-bigs-choices {
  display: grid;
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  gap: 0.5rem;
}
.numberOfBigs-btn {
  margin: 0.125rem;
}
